/*Font import*/
@font-face{
	font-family: "LemonMilk";
	font-weight: normal;
	font-style:normal;
}
@font-face{
	font-family: "LemonMilk";
	font-weight: bold;
	font-style:normal;
	src:url("../font/LemonMilkbold.otf") format("opentype");
}
@font-face{
	font-family: "LemonMilk";
	font-weight: bold;
	font-style:italic;
	src:url("../font/LemonMilkbolditalic.otf") format("opentype");
}
@font-face{
	font-family: "LemonMilk";
	font-weight: normal;
	font-style:italic;
	src:url("../font/LemonMilkitalic.otf") format("opentype");
}
@font-face{
	font-family: "LemonMilk";
	font-weight: lighter;
	font-style:normal;
	src:url("../font/LemonMilklight.otf") format("opentype");
}
@font-face{
	font-family: "LemonMilk";
	font-weight: lighter;
	font-style:italic;
	src:url("../font/LemonMilklightitalic.otf") format("opentype");
}
html{
	margin:0px;
	font-family: "LemonMilk";
	padding:0px;
	font-size:100%;
}
body{
	padding: 0px;
	margin:0px;
}
h1{
	margin:0px;
}
/*Nav bar*/
nav{
	background-color:black;
	color:white;
	position: fixed;
	top:0px;
	left: 0px;
	height:100vh;
	width: 22vw;
	display:flex;
	justify-content: center;
	align-items: center; 
	z-index: 1;
	transform:translateX(-22vw);
	transition:0.3s;
}
.openNav{
	transform: translateX(0);
	transition:0.3s;
}
#navIco{
	position: fixed;
	top :30px;
	left:30px;
	color: black;
	background: none;
	border: none;
	font-size: 3em;
	z-index: 50000;
	cursor:pointer;
}

.navBar{
	font-size:3.5vw;
	position: absolute;
	left:0px;
	padding:30px;
}
.navItem{
	margin-bottom: 30px;
}
.navItem a{
	text-decoration: none;
	color: white;
}
#content{
	width: calc(100vw - (100vw - 100%));
	background: none;
	height:200vh;
}
/*entry screen*/
.intro{
	margin:0px;
	width:100%;
	height: 100vh;
	background:none;
	color: black;
	overflow: hidden;
	position:relative;
}
/*Parralax*/
#parallax{
	width: 100%;
	height: 100%;
	background: none;
	position: fixed;
}
.layer-1{
	margin: 0px;
	position: fixed;
	width:100%;
	height: 100%;
	background: center/110% url("../img/tacherouge.png") fixed no-repeat;
	z-index: -1;
}
.layer-2{
	margin: 0px;
	position: fixed;
	width:100%;
	height: 100%;
	background: left/50% url("../img/tachejaune.png") fixed no-repeat;
	z-index: -2;
}
.layer-3{
	margin: 0px;
	position: fixed;
	width:100%;
	height: 100%;
	background: right/50% url("../img/tachebleue.png") fixed no-repeat;
	z-index: -3;
}
/*Work stain*/
.layer-4{
	margin: 0px;
	position: fixed;
	width:100%;
	height: 100%;
	transform: translateY(100vh);
	background: left/50% url("../img/tacherose.png") fixed no-repeat;
	z-index: -1;
}
.layer-5{
	margin: 0px;
	position: fixed;
	width:100%;
	height: 100%;
	transform: translateY(100vh);
	background: right/50% url("../img/tachevert.png") fixed no-repeat;
	z-index: -1;
}

.nameCenter{
	text-align:center;
	position: relative;
	top:50%;
	transform: translateY(-50%);
	font-weight: bold;
	line-height: 0.9;

}
.name{
	display: inline-block;
	position: relative;
	right:16.2vw;
	font-size:10vw;
}
.lastname{
	display: inline-block;
	position: relative;
	right:-16.2vw;
	font-size:10vw;
}
/*Work*/
#work{
	background-color: none;
	height: 100vh;
	width:100%;
	position: relative;
	overflow: hidden;
	display:grid;
	grid-template-columns: auto 85vmin auto;
	grid-template-rows:1fr;
	grid-template-areas: ". work-container title";
	justify-content: stretch;
	align-content: center;
	align-items: center;
	justify-items:center;
	grid-gap: auto;
}
.work-container{
	grid-area: work-container;
	position:absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	width:85vmin;
	height: 85vmin;
	display:grid;
	grid-template-rows:repeat(3,1fr);
	grid-template-columns:repeat(12,1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	justify-items: center;
	align-items: center;
}
.work-element{
	width: 100%;
	height:100%;
	display:flex;
	align-items: center;
	overflow: hidden;
}
#work-element-1{
	grid-row:1/1; 
	grid-column:1/7;
	background-color: rgba(204,194,175,0.7);
}
#work-element-2{
	grid-row:1/1; 
	grid-column:7/13;
	background-color: rgba(154,154,125,0.7);
}
#work-element-3{
	grid-row:2/2; 
	grid-column:1/5;
	background-color: rgba(216,255,233,0.7);
}
#work-element-4{
	grid-row:2/2; 
	grid-column:5/13;
	background-color: rgba(204,194,175,0.7);
}
#work-element-5{
	grid-row:3/3; 
	grid-column:1/9;
	background-color: rgba(178,160,128,0.7);
}
#work-element-6{
	grid-row:3/3; 
	grid-column:9/13;
	background-color: rgba(134,138,123,0.7);;
}
.work-container img{
	margin:auto;
	display: block;
	max-width: 100%;
	max-height: 100%;
	object-fit: cover;
	transition: transform 400ms ease-out;
}
.work-container img:hover{
	transform: scale(1.15);
}
.moreWorkContainer{
	display: none;
	background-color: rgba(0,0,0,0.8);
	position: fixed;
	left:0;
	top:0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	overflow: auto;
}
/*#moreWork1{
	display:block;
}*/
.moreWork{
	display:none;
	position:fixed;
	width: 80%;
	height: 80%;
	background-color: white;
	top:50%;
	transform: translate(-50%,-50%);
	z-index: 12;
	left: 50%;
	padding:2%;
	margin:auto;

}
.moreWorkClose{
	float:right;
}
.moreWorkClose button{
	border: none;
	background: none;
	font-size:2em;
	color:black;
}
.moreWorkClose button:hover{
	border: none;
	background: none;
	color:rgb(15,180,130);
	font-size:2em;
}
.moreWorkPicture{
	margin:auto;
	display: flex;
	justify-content: center;
	align-content: center;
	width: 95%;
	height: 80%;
}
.moreWorkPicture img {
	max-height: 100%;
	max-width: 100%;
	margin: auto;
}

.title{
	grid-area: title;

}
.title h2{
     writing-mode: vertical-lr;
     font-size:15vmin;
     margin: 0px;
}
#about{
	background-color: none;
	height: 100vh;
	width:100%;
	position: relative;
	overflow: hidden;
	display:grid;
	grid-template-columns: auto 85vmin auto;
	grid-template-rows:1fr;
	grid-template-areas: ". about-container title";
	justify-content: stretch;
	align-content: center;
	align-items: center;
	justify-items:center;
	grid-gap: auto;
}
.about-container{
	grid-area: about-container;
	display:grid;
	height: 85vmin;
	width: 85vmin;
	grid-template-rows: repeat(12,1fr);
	grid-template-columns: repeat(12,1fr);
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	justify-content: center;
	align-content: center;
	justify-items: center;
	align-items: center;
}
.ab-pic{
	grid-column: 1/6 ;
	width: 100%;
	height:100%;
	grid-row:1/6;
	background-color: purple;
}
.ab-desc{
	grid-column: 6/13 ;
	grid-row:1/6;
	background-color: red;
}
.ab-cv{
	grid-column: 1/13 ;
	grid-row:6/9;
	font-size:3vmin;

}
.ab-cv a{
	display: inline-block;
	color:black;
	text-decoration: none;
}
.ab-cv a:hover{
	color:rgb(15,180,130);
	text-decoration: none;
}

.ab-cont{
	font-size:3vmin;
	width: 100%;
	height:100%;
	grid-column: 1/13 ;
	grid-row:9/13;
}
.ab-cont a{
	display: inline-block;
	color:black;
	text-decoration: none;
}
.ab-cont a:hover{
	color:rgb(15,180,130);
	text-decoration: none;
}

.container-ab-cont{
	font-size:1.5vmin;
	display: flex;
	flex-wrap: row;
	justify-content: space-around;
	align-content: middle;
}

.social-network{
	font-size:3vmin;
	color:black;
	width: 100%;
	display: flex;
	flex-wrap: row;
	justify-content: space-around;
}
.social-network i{
	font-size:3vmin;
}